body{
    background-color: black;
    color: yellow;
}
header{
    /*margin-top: -15rem;*/
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}
.index-img{
    max-width: 100%;
    height: auto;
}
nav{
    background-color: red;
}

a{
    color: rgb(255, 193, 7);
    text-decoration: none;
}

a:hover, a:active, a:visited{
    color: rgb(255, 155, 20);
}


p, ul, ol , li{
    text-align: justify;
}


